/* .page-header{
  background-color: white;
}
.page-header h1{
  padding: 16px 0;
  margin: 0;
}
table{
  width: 100%;
}
.mt-1{
  margin-top: 1em !important;
}
.ml-1{
  margin-left: 1em !important;
}
.search input{
  outline: none;
  border:1px solid #ccc;
  padding:8px 10px;
  border-radius: 3px;
}
.search input:active{
  border:1px solid #bbb;
}
.search input:focus{
  border:1px solid #aaa;
}




 */





 table {
    width: 100%;
   }
   
   .searh-input {
    outline: none;
    border: 1px solid #CCC;
   padding: 8px 10px;
    border-radius: 3px;
   }
   
   .searh-input:active {
    border: 1px solid #BBB;
   }
   
   .searh-input:focus {
    border: 1px solid #AAA;
   }
   .page-header{
    text-align: center;
   }
   #listdetails{
   padding-top: 10px;
    padding-bottom: 30px;
   }